# Linux
.*
!.gitignore
!.htaccess
*~

# Misc
node_modules/
.directory
npm-debug.log
test/multiple-closures-core.html
test/multiple-closures-events.html
test/multiple-closures-visible.html
test/multiple-closures-forms.html
test/multiple-closures.html
test/multiple-closures-concat.html
test/multiple-gcc.html
test/multiple-gcc-concat.html
test/multiple-gcc-debug.html
test/plugins-closures.html
test/plugins-closures-concat.html
test/plugins-gcc.html
test/plugins-gcc-concat.html
test/plugins-gcc-debug.html
test/simple-closures-core.html
test/simple-closures-events.html
test/simple-closures-visible.html
test/simple-closures-forms.html
test/simple-closures-center.html
test/simple-closures.html
test/simple-closures-concat.html
test/simple-gcc.html
test/simple-gcc-concat.html
test/simple-gcc-debug.html
test/zz-closures-core.html
test/zz-closures-utils.html
test/zz-closures.html
test/zz-closures-concat.html
test/zz-gcc.html
test/zz-gcc-concat.html
test/zz-gcc-debug.html
test/node-core-simple.html
test/node-zz-simple.html
test/node-plugin-center-simple.html
test/node-plugin-events-simple.html
test/node-plugin-forms-simple.html
test/node-plugin-utils.html
test/node-plugin-visible-simple.html
test/node-full-simple.html
test/node-core-multiple.html
test/node-zz-multiple.html
test/node-plugin-events-multiple.html
test/node-plugin-forms-multiple.html
test/node-plugin-visible-multiple.html
test/node-full-multiple.html

