.outerTests {
    padding: 1em; 
    border: 5px; 
    margin: .5em;
}
div.offsetTests {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: green;
    color: white;
    cursor: pointer;
}
#t13-1-div {
    left: 220px;
    top: 35px;
}
.selected {
    background-color: green;
    color: white;
}
#t12-9, #t12-10 {
    display: none;
    font-size: 2em;
}
#t12-10 {
    border: 2px dotted blue;
    padding: 3px;
    margin: 4px
}
#t13-3-div {
    left: 320px;
    top: 35px;
}
#t15-2, #t15-4, #t15-6, #t15-10, #t15-11, #t15-12 {
    display: none;
}
.container {
    background-color: yellow;
}
.t20 {
    width: 75px;
    height: 50px;
    background-color: green;
    color: white;
}
#t20-2 {
    position: absolute;
    left: 500px;
}
#t20-3 {
    position: absolute;
    top: 800px;
}
#t20-4 {
    position: absolute;
    left: 100px;
    top: 120px;
}
