body {
	margin: 0;
	padding: 0;
    overflow-x: hidden; /* This is needed using marqueeTranslateX */
}

/* Start of marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace; /* Must be a monospace */
    overflow: hidden;
}

@keyframes marqueeTranslateX {
    0%   { transform: translateX( 100% ) }
    100% { transform: translateX( var(--marquee-text-size) ) }
}

@keyframes marqueeTextIndent {
    0%   { text-indent: 100% }
    100% { text-indent: var(--marquee-text-size) }
}
/* End of Marquee */

/* Make marquee pretty */
#myMarquee {
    font-size: 2em;
	height: 2.2em;
    color: #067601;
}
