
:root {
  --marquee-text-indent: -10em; /* This is overwritten by javascript */
}

body {
	margin: 0;
	padding: 0;
}

/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace; /* Must be a monospace */
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 100% }
    100% { text-indent: var(--marquee-text-indent) }
}

/* Make it pretty */
#myMarquee {
    font-size: 2em;
	height: 2.2em;
    color: #067601;
}
