body {
	margin: 0;
	padding: 0;
}

/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    /*animation: marquee 15s linear infinite;*/
    font-family: "Courier New", Courier, monospace; /* Must be a monospace */
}
/*
.marquee:hover {
    animation-play-state: paused
}
*/
/* Make it move */
/*
@keyframes marquee {
    0%   { text-indent: 60em }
    100% { text-indent: -60em }
}
*/

/* Make it pretty */
#myMarquee {
    font-size: 2em;
	height: 2.2em;
    color: #067601;
}
